@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

.repo {
  background-color: #252525;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
.card{
  margin-top: -2rem;
  margin-right: 1rem;
}
.reposi{
  margin-top: rem;
}
.githubtitle{
  position: absolute;
  width: 60%;
  left: 31rem;
  margin-top: 1rem;
}
.dark{
}